.customers-page {
  width: 100%;
  min-height: 100vh;
  background-color: $grey;
  padding: $padding-top-page-admin;

  margin-left: $width-aside-panel-admin;

  z-index: 200;

  transition: margin-left 0.3s ease;
}

.customers-page-big {
  margin-left: 55px;

  transition: margin-left 0.3s ease;
}

.hide {
  margin-left: 0px;

  transition: margin-left 0.3s ease;
}
