.customers-page {
  width: 100%;
  background-color: $grey;
  padding: 50px;

  margin-left: $width-aside-panel-admin;

  z-index: 200;

  transition: margin-left 0.3s ease;
}

.customers-page-big {
  margin-left: 100px;

  transition: margin-left 0.3s ease;
}
