.dashboard-pages {
  width: 100%;
  min-height: 100vh;
  background-color: $grey;
  padding: $padding-top-page-admin;

  margin-left: $width-aside-panel-admin;

  z-index: 200;

  transition: margin-left 0.3s ease;

  @media (max-width: $breakpoint_md) {
    padding: 10px;
  }
}

.dashboard-pages-big {
  margin-left: 55px;

  transition: margin-left 0.3s ease;

  @media (max-width: $breakpoint_md) {
    margin-left: 300px;
  }
}

.hide {
  margin-left: 0px;

  transition: margin-left 0.3s ease;

  @media (max-width: $breakpoint_md) {
    margin-left: 0px;
  }
}
