// Header module

$height-header: 80px;

$top-drop-down-language: $height-header;
$right-drop-down-language: -40px;
$right-drop-down-icon-link: -21px;

$border-radius-drop-down: 7px;
$padding-drop-down: 10px;

$padding-top-page: 30px;
$padding-left-page: 20px;

$title-padding-bottom: 40px;

// input
$height-input: 40px;
$padding-input: 0px 5px;

$border-radius-input: 7px;
