// Header module

$height-header: 80px;

$padding-container: 20px;
$padding-container-sm: 10px;

$top-drop-down-language: $height-header;
$right-drop-down-language: -40px;
$right-drop-down-icon-link: -21px;

$border-radius-drop-down: 7px;
$padding-drop-down: 10px;

$padding-top-page: 30px;
$padding-bottom-page: 100px;
$padding-left-page: 20px;

$title-padding-bottom: 40px;

// input
$height-input: 40px;
$padding-input: 0px 5px;

$border-radius-input: 7px;

// user-card

$size-photo-user-card: 40px;
$margin-right-user-card: 16px;

$border: 1px solid $grey;

// Dashboard

$width-aside-panel-admin: 220px;
$border-radius-admin: 10px;

$padding-top-page-admin: 50px;

$padding-top-table-admin: 40px;
$padding-left-right-table-admin: 20px;
