// Header module

$height-header: 80px;

$top-drop-down-language: $height-header;
$right-drop-down-language: -40px;
$right-drop-down-icon-link: -21px;

$border-radius-drop-down: 7px;
$padding-drop-down: 10px;
