$black: #242424;
$black-font: #242424;
$black-icon: #242424;

$grafit: #343434;
$grey: #c6c6c6;

$white: #ffffff;
$white-font: #ffffff;
$white-icon: #ffffff;

$red: hsl(0, 99%, 65%);
$red-hover: hsl(0, 99%, 63%);
$red-active: hsl(0, 99%, 61%);

$orange: #ff9718;
$green: hsl(101, 55%, 47%);
$green-hover: hsl(101, 55%, 43%);
$green-active: hsl(101, 55%, 41%);
