$black: #242424;
$black-font: #242424;

$grafit: #343434;
$grey: #c6c6c6;

$white: #ffffff;
$white-font: #ffffff;
$white-icon: #ffffff;

$red: #fe4d4d;
$red-hover: hsl(0, 99%, 63%);
$red-active: hsl(0, 99%, 61%);

$orange: #ff9718;
$green: #5fb935;
