$font-xs: 8px;
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 20px;
$font-xxl: 24px;
$font-xxxl: 40px;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

$line-height-xs: 1;
$line-height-s: 1.3;
$line-height-m: 1.5;
