// base
@import './base/reset.scss';
@import './base/normalize.scss';
@import './base/quill.scss';

// variables
@import './variables/fonts.scss';
@import './variables/colors.scss';
@import './variables/breakpoints.scss';
@import './variables/blocks.scss';

// pages
@import './pages/main-page.scss';
@import './pages/dashboard-pages.scss';
@import './pages/subcategories-page.scss';

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 $padding-container;

  @media (max-width: $breakpoint_sm) {
    padding: 0 $padding-container-sm;
  }
}

// .header-wrapper {
//   width: 100%;
//   height: $height-header;
//   background-color: $grafit;
// }

.footer-wrapper {
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.lang-popup-overlay,
.authorization-popup-overlay,
.popup-window-overlay,
.catalog-popup-overlay {
  background-color: $black;

  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  opacity: 0;
  position: fixed;
  visibility: hidden;

  z-index: 1;

  transition: opacity 0.3s ease;
}

.overlay-active {
  opacity: 0.6;
  visibility: visible;
}

// ________________text Title
.title-xl {
  font-size: $font-xxl;
  font-weight: $weight-medium;
}
.title-lg {
  font-size: $font-xxl;
  font-weight: $weight-medium;
}
.title-md {
  font-size: $font-xl;
  font-weight: $weight-medium;
}
.title-sm {
  font-size: $font-l;
  font-weight: $weight-medium;
}

// ________________text Weigth
.weight-light {
  font-weight: $weight-light;
}
.weight-regular {
  font-weight: $weight-regular;
}
.weight-medium {
  font-weight: $weight-medium;
}
.weight-semi-bold {
  font-weight: $weight-semi-bold;
}
.weight-bold {
  font-weight: $weight-bold;
}

// ________________text Paragraph
.text-xl {
  font-size: $font-xl;
  line-height: $line-height-m;
}
.text-lg {
  font-size: $font-l;
  line-height: $line-height-m;
}
.text-md {
  font-size: $font-m;
  line-height: $line-height-m;
}
.text-sm {
  font-size: $font-s;
  line-height: $line-height-s;
}

// ________________Button
.btn-md,
.btn-md-transparent {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $font-l;
  font-weight: $weight-bold;

  width: 100%;
  height: 40px;
}

.btn-md {
  color: $white-font;

  border-radius: 7px;
  @include btn-hover(background, ease-in);

  &:disabled {
    cursor: default;
    background-color: $grey;
  }
}

.btn-md.btn-red {
  background-color: $red;
  &:hover {
    background-color: $red-hover;
  }

  &:active {
    background-color: $red-active;
  }

  &:disabled {
    cursor: default;
    background-color: $grey;
  }
}

.btn-md.btn-orange {
  background-color: $orange;
  &:hover {
    background-color: $orange-hover;
  }
  &:active {
    background-color: $orange-active;
  }
  &:disabled {
    cursor: default;
    background-color: $grey;
  }
}

.btn-md.btn-green {
  background-color: $green;
  &:hover {
    background-color: $green-hover;
  }
  &:active {
    background-color: $green-active;
  }

  &:disabled {
    cursor: default;
    background-color: $grey;
  }
}

.btn-md-transparent {
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs {
  padding-top: $padding-top-page;
  padding-bottom: 40px;

  font-size: $font-l;

  & a {
    font-size: $font-l;
  }
}

.input-error {
  padding-top: 5px;
  font-size: $font-s;
  color: $red;
}
