// base
@import './base/reset.scss';
@import './base/normalize.scss';

// variables
@import './variables/fonts.scss';
@import './variables/colors.scss';
@import './variables/breakpoints.scss';
@import './variables/blocks.scss';

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  width: 100%;
  height: $height-header;
  background-color: $black;
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.lang-popup-overlay {
  background-color: $black;

  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  opacity: 0;
  position: fixed;
  visibility: hidden;

  z-index: -1;
}

.overlay-active {
  opacity: 0.6;
  visibility: visible;
}
