@import '../variables/colors.scss';

// header module
@mixin btn-hover($transition-property, $transition-timing-function: ease) {
  transition: $transition-property 0.3s $transition-timing-function;
}

@mixin btn-border-and-padding {
  padding: 10px;
  border-radius: 4px;
}

@mixin forbid-select-text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@mixin display-flex {
  display: flex;
  align-items: center;
}

@mixin arrow-background-drop-down {
  position: absolute;
  top: -8.4px;
  right: 36.4px;
  width: 12px;
  height: 10px;
  background-image: url(/img/arrow-up-popup.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin arrow-drop-down-black {
  display: block;
  width: 7px;
  height: 4px;
  background-image: url(/img/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin label {
  font-size: $font-s;
  color: $grey;

  font-weight: $weight-semi-bold;
}

@mixin input {
  font-size: $font-l;
  width: 100%;
  height: $height-input;

  padding: $padding-input;
  border-radius: $border-radius-input;
  border-color: $grey;

  &:focus {
    outline: none;
    border: 1px solid orange;
  }
}

@mixin input-search {
  font-size: $font-l;
  color: $black-font;
  width: 100%;
  height: 100%;

  padding: 0px 48px 0px 48px;

  border-top-left-radius: $border-radius-input;
  border-bottom-left-radius: $border-radius-input;
  border-color: $white;

  &:focus {
    outline: none;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
  }
}

@mixin erro-message-input {
  padding-top: 5px;
  font-size: $font-s;
  color: $red;
}

@mixin title-list-info {
  font-weight: $weight-semi-bold;
  font-size: $font-m;

  color: $grafit;

  margin-bottom: 20px;
}

@mixin title-list-item {
  font-weight: $weight-medium;
  font-size: $font-l;

  color: $black-font;

  padding-bottom: 20px;
}

@mixin title-list-item-info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  color: $grafit;
  font-size: $font-m;

  &_item {
    & a {
      color: $black-font;

      @include btn-hover(color);
      &:hover {
        color: $orange !important;
      }
    }
  }
}

@mixin text-gradient-end($width: 50px) {
  overflow: hidden;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: $width;
    height: 100%;
    background: linear-gradient(to right, transparent, white);
  }
}

@mixin icon-hover($color, $color-hover) {
  & svg {
    color: $color;
    @include btn-hover(color);

    &:hover {
      color: $color-hover;
    }
  }
}

@mixin horizon-line {
  display: block;
  height: 1px;
  background-color: $grey;
  width: 100%;
}
