@import '../variables/colors.scss';

// header module
@mixin btn-hover($transition-property, $transition-timing-function: ease) {
  transition: $transition-property 0.3s $transition-timing-function;
}

@mixin btn-border-and-padding {
  padding: 10px;
  border-radius: 4px;
}

@mixin forbid-select-text {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

@mixin display-flex {
  display: flex;
  align-items: center;
}

@mixin arrow-background-drop-down {
  position: absolute;
  top: -8.4px;
  right: 36.4px;
  width: 12px;
  height: 10px;
  background-image: url(/img/arrow-up-popup.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin arrow-drop-down-black {
  display: block;
  width: 7px;
  height: 4px;
  background-image: url(/img/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin input {
  font-size: $font-l;
  width: 100%;
  height: $height-input;

  padding: $padding-input;
  border-radius: $border-radius-input;
  border-color: $grey;

  &:focus {
    outline: none;
    border: 1px solid orange;
  }
}

@mixin erro-message-input {
  padding-top: 5px;
  font-size: $font-s;
  color: $red;
}
