@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

$padding-info-small-panel: 20px;

.adminAsidePanel {
  padding-top: $padding-top-page-admin;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;

  background-color: $white;

  height: 100vh;
  width: $width-aside-panel-admin;

  color: $black-font;

  &__logo {
    padding-left: 20px;
    @include display-flex;
    gap: 12px;
  }

  &__list {
    margin-top: 50px;
  }

  .listNavAdmin {
    display: flex;
    flex-direction: column;

    gap: 30px;
    .itemNavAdmin {
      position: relative;
      height: 24px;
      @include display-flex;

      &__marker {
        display: block;
        width: 4px;
        height: 100%;
        background: $red;
      }

      &__icon {
        padding-left: 20px;
        height: 100%;
        & svg {
          color: black;
        }
      }

      &__title {
        padding-left: 12px;
        color: $black-font;
        font-weight: $weight-medium;

        font-size: $font-l;
      }

      &__arrow {
        position: absolute;
        right: 10px;

        color: $black-icon;
      }

      &__icon.active,
      &__title.active,
      &__arrow.active {
        color: $red;
        svg {
          color: $red;
        }
      }
    }

    &__accordion {
      &_list {
        & .itemNavAdmin {
          &__marker {
            background: $orange;
          }

          &__icon.active,
          &__title.active,
          &__arrow.active {
            color: $orange;
            svg {
              color: $orange;
            }
          }
        }
        margin-left: 0px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        color: green !important;
      }
    }
  }
}

.headerAdmin {
  display: flex;
  gap: 20px;
  &__tools {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    gap: 20px;
    justify-content: space-between;
  }

  &__charts {
    background-color: $white;
    width: 100%;

    border-radius: $border-radius-admin;
    padding: 12px $padding-info-small-panel;
  }
  .adminAsideButton {
    height: 80px;
    width: 80px;
    border-radius: $border-radius-admin;

    background-color: $white;

    &__icon {
      color: $black;
    }
  }

  .languagePanelAdmin {
    height: 80px;
    width: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;

    &__button {
      border-radius: $border-radius-admin;
      height: 35px;
      width: 35px;
      color: $black-font;

      background-color: $white;
    }

    &__button.active {
      color: $white-font;

      background-color: $red;
    }
  }

  .infoSmallPanel {
    position: relative;
    box-sizing: border-box;
    padding: 12px $padding-info-small-panel;
    height: 80px;
    min-width: 200px;
    border-radius: $border-radius-admin;
    background-color: $white;

    display: flex;
    flex-direction: column;

    flex-grow: 1;

    justify-content: space-between;

    &__title {
      font-size: $font-l;
    }

    &__number {
      font-size: $font-xl;
      font-weight: $weight-semi-bold;
    }

    &__icon {
      position: absolute;
      right: $padding-info-small-panel;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: $breakpoint_lg) {
    &__charts {
      display: none;
    }
  }
}

.characteristic__line,
.add__line {
  @include horizon-line;
}

.customer,
.characteristicForm,
.categoryForm,
.add,
.characteristic,
.categories {
  .customerInfo,
  .characteristicInfoName,
  .characteristicInfoList,
  .customerInfoLoading,
  .characteristicForm,
  .categoryForm,
  .addCharacteristicName,
  .addCharacteristicValue,
  .listAddedCharacteristics,
  .listAddedBrands {
    &__line,
    .characteristic__line {
      @include horizon-line;
    }

    &__notification {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &__title,
    &__form {
      padding-top: 16px;
    }

    &__title,
    &__form,
    &__btn,
    &__submit,
    &__notification {
      padding-left: $padding-left-right-table-admin;
      padding-right: $padding-left-right-table-admin;
    }

    &__title {
      font-weight: $weight-semi-bold;
    }

    .characteristicInfoName__form {
      padding: 0;
      padding-left: $padding-left-right-table-admin;
    }

    &__form {
      .characteristicInfoList__content,
      .customerInfo__content {
        display: flex;

        justify-content: space-between;

        &_list {
          width: 100%;
          display: grid;
          gap: 24px;

          grid-template-columns: 1fr 1fr 1fr;
          justify-content: space-between;

          &_item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & p {
              &:first-child {
                color: $grey;
                font-size: $font-s;
                font-weight: $weight-semi-bold;
              }
            }

            & select {
              height: 40px;

              border: $border;
              border-radius: 7px;

              font-size: $font-l;
            }

            & label {
              @include label;
            }

            & input {
              @include input;
            }
          }
        }

        &_code {
          display: flex;
          gap: 30px;
        }
      }
    }

    &__btns,
    &__btn {
      width: 170px;
      & button {
        width: 170px;
      }
    }
    &__btns {
      margin-top: 36px;
      display: flex;
      gap: 20px;
    }

    @media (max-width: $breakpoint_xl) {
      &__form {
        .characteristicInfoList__content,
        .customerInfo__content {
          &_list {
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
    @media (max-width: $breakpoint_lg) {
      &__form {
        .characteristicInfoList__content,
        .customerInfo__content {
          flex-direction: column-reverse;
          gap: 20px;

          &_list {
          }
        }
      }

      .characteristicInfoName__form {
        padding-left: 0;
      }
    }
  }
}
.customers,
.brands,
.customer,
.goods,
.characteristic,
.categories,
.add {
  max-width: 100%;
  background-color: $white;

  margin-top: 40px;
  padding-top: $padding-top-table-admin;
  padding-bottom: $padding-top-table-admin;

  border-radius: $border-radius-admin;

  &__head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    margin-bottom: 20px;

    &_title {
      display: flex;
      gap: 10px;

      &_btn_update,
      &_btn_add {
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
      }

      &_btn_update {
        @include icon-hover($grey, $black-icon);
      }
      &_btn_add {
        @include icon-hover($green, $green-active);
      }
    }
  }

  &__list {
  }

  &__head,
  & .customersTable__head,
  & .customersTable tbody tr,
  & .customersTable__head_delete,
  & .brandsTable__head,
  & .brandsTable tbody tr,
  & .brandsTable__head_delete,
  & .characteristicTable__head,
  & .characteristicTable tbody tr,
  & .characteristicTable__head_delete,
  & .categoriesTable__body,
  & .categoriesTable__head,
  & .categoriesTable tbody tr,
  & .categoriesTable__head_delete,
  & .categoriesTableEdit__body,
  & .categoriesTableEdit__head,
  & .categoriesTableEdit__head_delete,
  & .charateristicTableEdit__head,
  & .charateristicTableEdit tbody tr,
  & .charateristicTableEdit__head_delete,
  & .listAddedCategories__title,
  & .serverErrorMsg,
  & .listAddedBrands__title,
  .notFoundMsg,
  .listAddedCharacteristics,
  .notification {
    padding-left: $padding-left-right-table-admin;
    padding-right: $padding-left-right-table-admin;
  }

  & .customersTable,
  & .brandsTable,
  & .characteristicTable,
  & .categoriesTable,
  & .charateristicTableEdit,
  & .categoriesTableEdit {
    max-width: 100%;
    display: block;

    .customersTable__head,
    .brandsTable__head,
    .charateristicTableEdit__head,
    .customersTable__body,
    .brandsTable__body,
    .characteristicTable__head,
    .characteristicTable__body,
    .charateristicTableEdit__body,
    .categoriesTable__head,
    .categoriesTable__body,
    .categoriesTableEdit__body,
    .categoriesTableEdit__head {
      display: flex;
      gap: 10px;

      &_checkbox {
        width: 14px;
      }
    }

    .brandsTable__head,
    .brandsTable__body {
      &_name_brand,
      &_website_brand {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &_name_brand {
        width: 30%;
      }

      &_website_brand {
        width: 70%;
      }

      @media (max-width: $breakpoint_md) {
        &_name_brand,
        &_website_brand {
          width: 50%;
        }
      }
    }

    .customersTable__head,
    .brandsTable__head,
    .customersTable__body,
    .brandsTable__body {
      &_name,
      &_email {
        width: 23%;
      }

      &_id,
      &_role,
      &_created {
        width: 10%;
      }

      &_phone {
        width: 17%;
      }

      &_block {
        width: 7%;
      }
    }

    .characteristicTable__head,
    .characteristicTable__body,
    .categoriesTable__head,
    .categoriesTable__body,
    .categoriesTableEdit__head,
    .categoriesTableEdit__body {
      max-width: 100%;
      box-sizing: border-box;

      &_icon {
        width: 80px;
        & p {
          width: 80px !important;
        }

        @media (max-width: $breakpoint_lg) {
          display: none !important;
        }
      }

      .categoriesTable__body_icon.white_icon,
      .categoriesTableEdit__body_icon.white_icon {
        svg {
          circle {
            stroke: $white-icon;
          }

          path {
            stroke: $white-icon;
            fill: $white-icon;
          }
        }
      }

      &_name_characteristic,
      &_name_category {
        font-size: $font-m;
        color: $black-font;
        width: 35%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &_list_characteristics,
      &_list_categories {
        width: 65%;
        display: flex;

        gap: 0px;

        overflow: hidden;

        &_item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .charateristicTableEdit__head,
    .charateristicTableEdit__body,
    .categoriesTableEdit__head,
    .categoriesTableEdit__body,
    .categoriesTable__head,
    .categoriesTable__body {
      &_name_characteristic,
      &_name_category {
        max-width: 20%;
        min-width: 20%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        & input {
          @include input;
        }
      }

      &_button_block {
        width: 40%;

        &_btns {
          display: flex;
          gap: 20px;

          &_btn,
          &_link {
            padding: 0px 20px;
          }
        }
      }
    }

    & thead {
      display: flex;
      flex-direction: column;
      .customersTable__head,
      .brandsTable__head,
      .characteristicTable__head,
      .categoriesTable__head,
      .charateristicTableEdit__head,
      .categoriesTableEdit__head {
        box-sizing: border-box;

        width: 100%;
        @include display-flex;
        gap: 10px;

        padding-top: 20px;
        padding-bottom: 20px;

        & th button {
          @include display-flex;
          gap: 3px;
        }

        & th,
        & th p {
          display: flex;
          color: $grey;
          font-size: $font-m;

          & svg {
            color: $grey;
          }
        }

        &_delete {
          display: flex;
          justify-content: space-between;

          font-size: $font-m;
          padding-bottom: 20px;

          & button {
            &:hover {
              text-decoration: underline;
            }
          }

          &_btn {
            color: $black-font;

            &_red {
              color: $red;
            }
          }
        }

        &_line {
          & td {
            display: block;
            height: 1px;
            width: 100%;
            background-color: $grey;
          }
        }

        & .btn_active {
          & p,
          & svg {
            font-weight: $weight-semi-bold;
            color: $red;
          }
        }
      }
    }

    & tbody {
      display: flex;
      flex-direction: column;

      .customersTable__body.all,
      .brandsTable__body.all,
      .characteristicTable__body.all,
      .categoriesTable__body.all {
        background-color: $grey;
      }

      .customersTable__body .customersTable__body_checkbox.select,
      .brandsTable__body .brandsTable__body_checkbox.select,
      .characteristicTable__body .characteristicTable__body_checkbox.select,
      .categoriesTable__body .categoriesTable__body_checkbox.select {
        background-color: $grey;
      }

      .customersTable__body,
      .brandsTable__body,
      .characteristicTable__body,
      .categoriesTable__body,
      .categoriesTableEdit__body,
      .charateristicTableEdit__body {
        height: 60px;
        position: relative;

        align-items: center;

        border-bottom: 1px solid $grey;

        &_not_found {
          margin-top: 20px;
        }

        @include btn-hover(background-color);

        &:hover {
          background-color: $grey;

          .categoriesTable__body_icon,
          .categoriesTableEdit__body_icon {
            color: $orange;

            svg {
              circle {
                stroke: $orange;
              }

              path {
                fill: $orange;
                stroke: $orange;
              }
            }
          }
        }
      }
    }
  }

  .customersTable {
    // MEDIA customersTable
    @media (max-width: $breakpoint_xxl) {
      & .customersTable__head,
      & .customersTable__body {
        &_block,
        &_role,
        &_created {
          display: none !important;
        }

        &_name,
        &_email {
          width: 32%;
        }

        &_id {
          width: 14%;
        }

        &_phone {
          width: 22%;
        }
      }
    }

    @media (max-width: $breakpoint_xl) {
      & .customersTable__head,
      & .customersTable__body {
        &_email {
          display: none !important;
        }

        &_name {
          width: 41%;
        }

        &_id {
          width: 26%;
        }

        &_phone {
          width: 33%;
        }
      }
    }

    @media (max-width: $breakpoint_lg) {
      display: none;
    }
  }

  .characteristicTable {
    // MEDIA characteristicTable

    @media (max-width: $breakpoint_lg) {
      display: block;

      .characteristicTable__head,
      .characteristicTable__body,
      .categoriesTable__head,
      .categoriesTable__body {
        &_name_characteristic,
        &_name_category {
          width: 50%;
        }
        &_list_characteristics,
        &_list_categories {
          width: 50%;
        }
      }
    }
  }

  & .categoriesList {
    margin-top: 20px;
    background-color: $grey;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;

    .categoriesItem.activeSelect {
      border: 2px solid $red;

      .categoriesItem__select {
        justify-content: space-between;

        &_delete {
          font-size: $font-m;
          color: $red;
          text-decoration: underline;
        }
      }
    }

    .categoriesItem {
      box-sizing: border-box;
      background-color: $white;

      width: 100%;

      &__select {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        padding-left: $padding-left-right-table-admin;
        padding-right: $padding-left-right-table-admin;

        border-top: $border;
        border-bottom: $border;
      }

      &__photo {
        padding-top: 13px;
        padding-bottom: 26px;

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }

      &__descriptionValue {
        box-sizing: border-box;

        padding: 10px $padding-left-right-table-admin;

        width: 100%;

        & input {
          margin-top: 10px;
          @include input;
        }

        &_key,
        &_value {
          font-size: $font-m;
        }

        &_key {
          color: $grey;
          font-weight: $weight-semi-bold;
        }

        &_value {
          margin-left: 10px;
          color: $black-font;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
      }

      &__description {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;

        padding-top: 10px;
        padding-bottom: 10px;

        &_key,
        &_value,
        &_form {
          font-size: $font-m;
          padding-left: $padding-left-right-table-admin;
          padding-right: $padding-left-right-table-admin;
        }

        &_key {
          width: max-content;
          color: $grey;
          font-weight: $weight-semi-bold;

          display: flex;
          align-items: center;
        }

        &_value {
          width: max-content;
          text-align: right;
        }

        &_line {
          position: absolute;
          bottom: 0px;

          display: block;
          height: 1px;
          width: 100%;
          background-color: $grey;
        }

        &_form {
          & input {
            @include input;
          }
        }
      }

      &__btns {
        display: flex;
        justify-content: space-between;

        padding: 10px $padding-left-right-table-admin 10px
          $padding-left-right-table-admin;

        &_link {
        }

        &_edit {
          display: flex;
          gap: 20px;
        }

        & button {
          width: 40px;
          height: 40px;
          border-radius: $border-radius-admin;
        }
      }
    }
  }

  & .customersList {
    display: none;

    @media (max-width: $breakpoint_lg) {
      margin-top: 40px;
      background-color: $grey;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      gap: 5px;

      width: 100%;

      .customersItem.activeSelect {
        border: 2px solid $red;

        .customersItem__select {
          justify-content: space-between;

          &_delete {
            font-size: $font-m;
            color: $red;
            text-decoration: underline;
          }
        }
      }

      .customersItem {
        box-sizing: border-box;
        background-color: $white;

        width: 100%;

        &__select {
          box-sizing: border-box;
          padding: 10px;
          display: flex;
          justify-content: flex-end;
          width: 100%;

          padding-left: $padding-left-right-table-admin;
          padding-right: $padding-left-right-table-admin;

          border-top: $border;
          border-bottom: $border;
        }

        &__photo {
          padding-top: 13px;
          padding-bottom: 26px;

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__description {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;

          padding-top: 10px;
          padding-bottom: 10px;

          &_key,
          &_value {
            font-size: $font-m;
            padding-left: $padding-left-right-table-admin;
            padding-right: $padding-left-right-table-admin;
          }

          &_key {
            width: max-content;
            color: $grey;
            font-weight: $weight-semi-bold;
          }

          &_value {
            width: max-content;
            text-align: right;
          }

          &_line {
            position: absolute;
            bottom: 0px;

            display: block;
            height: 1px;
            width: 100%;
            background-color: $grey;
          }
        }

        &__btns {
          display: flex;
          justify-content: space-between;

          padding: 10px $padding-left-right-table-admin 10px
            $padding-left-right-table-admin;

          &_view {
            background-color: $orange;
          }

          &_delete {
            background-color: $red;
          }
          &_view,
          &_delete {
            width: 40px;
            height: 40px;
            border-radius: $border-radius-admin;

            svg {
              color: $black-icon;

              @include btn-hover(color);
            }
          }
        }
      }
    }
  }

  & .photoUser {
    &__photo {
      border-radius: 100%;
    }

    &__photo_custom {
      width: 96px;
      height: 96px;

      background-color: $red;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: $font-xxl;
      color: $white-font;
    }
  }

  & .characteristic__info {
    display: flex;
    width: 100%;

    gap: 10px;

    & .characteristicInfoName,
    .addCharacteristicValue {
      width: 50%;
    }
  }

  // MEDIA customers
  @media (max-width: $breakpoint_lg) {
    &__search {
      width: 100%;
    }

    & .characteristic__info {
      & .characteristicInfoName,
      .addCharacteristicValue {
        width: 100%;
        box-sizing: border-box;
        padding-left: $padding-left-right-table-admin;
        padding-right: $padding-left-right-table-admin;
      }
    }
  }
}

.add {
  .listAddedCategories {
    padding-top: 16px;
    padding-bottom: 16px;

    &__title {
      display: flex;
      gap: 10px;
      & svg {
        color: $grey;

        @include btn-hover(color);

        &:hover {
          color: $black-icon;
        }
      }
    }
  }
}

.add {
  .brandForm {
    &__line {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $grey;
    }
    &__wrapper {
      margin: 20px $padding-left-right-table-admin;

      display: flex;
      flex-direction: column;
    }

    &__inputs {
      display: flex;
      gap: 20px;

      width: 100%;

      &_item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 50%;
        label {
          @include label;
        }

        input {
          @include input;
        }
      }
    }

    &__btn {
      margin-top: 20px;
    }

    &__notification {
      padding: 0 $padding-left-right-table-admin;
    }

    @media (max-width: $breakpoint_sm) {
      &__inputs {
        flex-direction: column;

        &_item {
          width: 100%;
        }
      }
    }
  }
}

.add,
.characteristic {
  .characteristicForm,
  &__info {
    width: 100%;

    &__inputs {
      display: flex;
      gap: 20px;
    }

    .addCharacteristicName,
    .addCharacteristicValue,
    .characteristicInfoName {
      margin-bottom: 30px;

      &__list,
      .characteristicInfoName__content_list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_item {
          display: flex;
          flex-direction: column;
          gap: 5px;

          & label {
            @include label;
          }

          & input {
            @include input;
          }
        }
      }
    }

    .addCharacteristicName {
      width: 50%;
      padding-left: $padding-left-right-table-admin;

      &__info {
        margin-top: 20px;
      }
    }

    .addCharacteristicValue {
      width: 50%;
      padding-right: $padding-left-right-table-admin;

      &__btn {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  // media characteristic
  @media (max-width: $breakpoint_lg) {
    & .characteristic__info {
      flex-direction: column;
    }

    .characteristicForm {
      &__inputs {
        flex-direction: column;
      }

      .addCharacteristicName,
      .addCharacteristicValue {
        box-sizing: border-box;
        width: 100%;
        padding-left: $padding-left-right-table-admin;
        padding-right: $padding-left-right-table-admin;
      }
    }
  }
}

.add {
  .notification {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 16px;
  }
  .categoryForm {
    box-sizing: border-box;
    width: 100%;
    padding: 16px $padding-left-right-table-admin;

    display: flex;
    gap: 20px;
    &__image {
      box-sizing: border-box;
      border: 2px dashed $grey;
      border-radius: $border-radius-admin;
      padding: 2px;

      height: 210px;
      min-width: 210px;
      max-width: 210px;
    }

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 20px;
      &_inputs {
        display: flex;
        flex-wrap: wrap;

        gap: 20px;
        &_input {
          & label {
            @include label;
          }
          & input {
            @include input;
          }
        }
      }
      &_submit {
        max-width: 200px;
      }
    }
  }

  @media (max-width: $breakpoint_sm) {
    .categoryForm {
      flex-direction: column;

      &__image {
        width: 100%;
      }

      &__main {
        &_inputs {
          gap: 10px;
          &_input {
            width: 100%;
            & input {
              width: 100%;
            }
          }
        }
        &_submit {
          max-width: 100%;
        }
      }
    }
  }
}

.serverErrorMsg {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & p {
    color: $black-font;
    font-size: $font-m;

    & b {
      color: $red;

      font-weight: $weight-semi-bold;
    }
  }
}

.notFoundMsg {
  margin-top: 20px;
  & p {
    color: $black-font;
    font-size: $font-m;
  }
}

.searchAdmin {
  position: relative;
  width: 100%;
  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    color: $black-icon;
  }

  &__input {
    display: block;
    background-color: $grey;
    border: none;

    border-radius: $border-radius-admin;

    padding: 0px 50px;

    width: 100%;

    height: 50px;

    font-size: $font-l;
  }
}

.goods {
}

.add {
  .addImages,
  .detailInfoGoods,
  .goodsCharacteristics,
  .priceAndAvailability {
    padding: 0px $padding-left-right-table-admin;

    &__title {
      margin-top: 16px;
      margin-bottom: 10px;
    }
  }

  .addImages {
    &__images {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      &_item {
        box-sizing: border-box;
        border: 2px dashed $grey;

        border-radius: $border-radius-admin;
        padding: 2px;
        width: 210px;
        height: 210px;
      }
    }

    &__warning {
      padding: 16px 0px;
    }
  }

  .detailInfoGoods {
    padding-bottom: 16px;
    &__content {
      display: flex;

      gap: 50px;
      width: 100%;

      &_column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 50%;
      }
    }

    .inputsNameProduct,
    .selectBrand,
    .selectCountry,
    .inputCodeProduct {
      &__label {
        display: block;
        font-size: $font-m;
        margin-bottom: 12px;
      }
    }

    .inputsNameProduct {
      &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_item {
          &_input {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            & input {
              @include input;
            }
          }

          &_error {
            margin-left: 40px;
          }
        }
      }
    }

    .selectBrand {
    }

    .inputCodeProduct {
      &__input {
        @include input;
      }
    }

    @media (max-width: $breakpoint_lg) {
      &__content {
        flex-direction: column;
        gap: 20px;
        &_column {
          width: 100%;
        }
      }
    }
  }

  .goodsCharacteristics {
    display: flex;
    flex-direction: column;
    &__btn {
      display: flex;
      align-self: flex-end;
      max-width: 200px;
    }
    &__add {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      margin-bottom: 16px;

      .selectNameCharacteristic,
      .selectValueCharacteristic {
        &__label {
          font-size: $font-m;
          display: block;
          margin-bottom: 12px;

          white-space: nowrap;
        }
      }
    }
    .listCharacteristics {
      margin-top: 16px;
      &__list {
        &_item {
          display: grid;
          gap: 20px;
          padding: 8px 0px;

          grid-template-columns: 1fr 1fr 1fr;

          & button {
            color: $red;
          }

          &_column {
            display: flex;

            flex-direction: column;
          }
        }
      }

      &__no_characteristics {
        margin: 8px 0px 16px;
      }
    }

    @media (max-width: $breakpoint_lg) {
      &__add {
        grid-template-columns: 1fr;
      }
    }
  }

  .priceAndAvailability {
    &__inputs {
      display: grid;

      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      row-gap: 20px;
    }

    .inputPrice,
    .inputSalePrice,
    .inputQuantityAvailable {
      &__label {
        display: block;
        font-size: $font-m;
        margin-bottom: 12px;
      }

      &__input {
        @include input;
      }
    }
  }
}
