@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

$padding-info-small-panel: 20px;

.adminAsidePanel {
  padding-top: $padding-top-page-admin;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;

  background-color: $white;

  height: 100vh;
  width: $width-aside-panel-admin;

  color: $black-font;

  &__logo {
    padding-left: 20px;
    @include display-flex;
    gap: 12px;
  }

  &__list {
    margin-top: 50px;
  }

  .listNavAdmin {
    display: flex;
    flex-direction: column;

    gap: 30px;
    .itemNavAdmin {
      height: 24px;
      @include display-flex;

      &__marker {
        display: block;
        width: 4px;
        height: 100%;
        background: $red;
      }

      &__icon {
        padding-left: 20px;
        height: 100%;
        & svg {
          color: black;
        }
      }

      &__title {
        padding-left: 12px;
        color: $black-font;
        font-weight: $weight-medium;

        font-size: $font-l;
      }

      &__icon.active,
      &__title.active {
        color: $red;
        svg {
          color: $red;
        }
      }
    }
  }
}

.headerAdmin {
  display: flex;
  gap: 20px;
  &__tools {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    gap: 20px;
    justify-content: space-between;
  }

  &__charts {
    background-color: $white;
    width: 100%;

    border-radius: $border-radius-admin;
    padding: 12px $padding-info-small-panel;
  }
  .adminAsideButton {
    height: 80px;
    width: 80px;
    border-radius: $border-radius-admin;

    background-color: $white;

    &__icon {
      color: $black;
    }
  }

  .languagePanelAdmin {
    height: 80px;
    width: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;

    &__button {
      border-radius: $border-radius-admin;
      height: 35px;
      width: 35px;
      color: $black-font;

      background-color: $white;
    }

    &__button.active {
      color: $white-font;

      background-color: $red;
    }
  }

  .infoSmallPanel {
    position: relative;
    box-sizing: border-box;
    padding: 12px $padding-info-small-panel;
    height: 80px;
    min-width: 200px;
    border-radius: $border-radius-admin;
    background-color: $white;

    display: flex;
    flex-direction: column;

    flex-grow: 1;

    justify-content: space-between;

    &__title {
      font-size: $font-l;
    }

    &__number {
      font-size: $font-xl;
      font-weight: $weight-semi-bold;
    }

    &__icon {
      position: absolute;
      right: $padding-info-small-panel;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: $breakpoint_lg) {
    &__charts {
      display: none;
    }
  }
}

.customer {
  .customerInfo,
  .customerInfoLoading {
    &__line {
      display: block;
      height: 1px;
      background-color: $grey;
      width: 100%;
    }

    &__title,
    &__form {
      padding-top: 16px;
    }

    &__title,
    &__form,
    &__btn {
      padding-left: $padding-left-right-table-admin;
      padding-right: $padding-left-right-table-admin;
    }

    &__title {
      font-weight: $weight-semi-bold;
    }

    &__form {
      .customerInfo__content {
        display: flex;

        justify-content: space-between;

        &_list {
          width: 100%;
          display: grid;
          gap: 24px;

          grid-template-columns: 1fr 1fr 1fr;
          justify-content: space-between;

          &_item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & p {
              &:first-child {
                color: $grey;
                font-size: $font-s;
                font-weight: $weight-semi-bold;
              }
            }

            & select {
              height: 40px;

              border: $border;
              border-radius: 7px;

              font-size: $font-l;
            }
          }
        }

        &_code {
          display: flex;
          gap: 30px;
        }
      }
    }

    &__btns,
    &__btn {
      width: 170px;
      & button {
        width: 170px;
      }
    }
    &__btns {
      margin-top: 36px;
      display: flex;
      gap: 20px;
    }

    @media (max-width: $breakpoint_xl) {
      &__form {
        .customerInfo__content {
          &_list {
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
    @media (max-width: $breakpoint_lg) {
      &__form {
        .customerInfo__content {
          flex-direction: column-reverse;
          gap: 20px;
          &_list {
          }
        }
      }
    }
  }
}
.customers,
.customer {
  width: 100%;
  background-color: $white;

  margin-top: 40px;
  padding-top: $padding-top-table-admin;
  padding-bottom: $padding-top-table-admin;

  border-radius: $border-radius-admin;

  &__head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    &_title {
      display: flex;
      gap: 10px;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;

        & svg {
          color: $grey;

          @include btn-hover(color);

          &:hover {
            color: $black-icon;
          }
        }
      }
    }
  }

  &__head,
  & .customersTable__head,
  & .customersTable tbody tr,
  & .customersTable__head_delete {
    padding-left: $padding-left-right-table-admin;
    padding-right: $padding-left-right-table-admin;
  }

  & .customersTable {
    width: 100%;
    display: block;

    .customersTable__head,
    .customersTable__body {
      display: flex;
      gap: 10px;
      &_checkbox {
        width: 14px;
      }

      &_name,
      &_email {
        width: 23%;
      }

      &_id,
      &_role,
      &_created {
        width: 10%;
      }

      &_phone {
        width: 17%;
      }

      &_block {
        width: 7%;
      }
    }

    & thead {
      display: flex;
      flex-direction: column;
      .customersTable__head {
        box-sizing: border-box;

        width: 100%;
        @include display-flex;
        gap: 10px;

        padding-top: 20px;
        padding-bottom: 20px;

        & th button {
          @include display-flex;
          gap: 3px;
        }

        & th,
        & th p {
          display: flex;
          color: $grey;
          font-size: $font-m;

          & svg {
            color: $grey;
          }
        }

        &_delete {
          display: flex;
          justify-content: space-between;

          font-size: $font-m;
          padding-bottom: 20px;

          & button {
            &:hover {
              text-decoration: underline;
            }
          }

          &_btn {
            color: $black-font;

            &_red {
              color: $red;
            }
          }
        }

        &_line {
          & td {
            display: block;
            height: 1px;
            width: 100%;
            background-color: $grey;
          }
        }

        & .btn_active {
          & p,
          & svg {
            font-weight: $weight-semi-bold;
            color: $red;
          }
        }
      }
    }

    & tbody {
      display: flex;
      flex-direction: column;

      .customersTable__body.all {
        background-color: $grey;
      }

      .customersTable__body .customersTable__body_checkbox.select {
        background-color: $grey;
      }

      .customersTable__body {
        height: 60px;
        position: relative;

        align-items: center;

        border-bottom: 1px solid $grey;

        @include btn-hover(background-color);
        &_hover {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 50px;

          right: -2%;
          background-color: unset;
          @include btn-hover(all);

          & button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 34px;
            height: 34px;
            background-color: $grey-light;
            opacity: 0;
            & svg {
              color: $black-icon;
            }
          }
        }

        &:hover {
          background-color: $grey;
          .customersTable__body_hover {
            width: 200px;
            height: 100%;
            background-color: $grey;
            right: 0%;

            & button {
              opacity: 1;
              & svg {
                color: $black-icon;

                @include btn-hover(color);

                &:hover {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }

    // MEDIA customersTable
    @media (max-width: $breakpoint_xxl) {
      & .customersTable__head,
      & .customersTable__body {
        &_block,
        &_role,
        &_created {
          display: none !important;
        }

        &_name,
        &_email {
          width: 32%;
        }

        &_id {
          width: 14%;
        }

        &_phone {
          width: 22%;
        }
      }
    }

    @media (max-width: $breakpoint_xl) {
      & .customersTable__head,
      & .customersTable__body {
        &_email {
          display: none !important;
        }

        &_name {
          width: 41%;
        }

        &_id {
          width: 26%;
        }

        &_phone {
          width: 33%;
        }
      }
    }

    @media (max-width: $breakpoint_lg) {
      display: none;
    }
  }

  & .customersList {
    display: none;

    @media (max-width: $breakpoint_lg) {
      margin-top: 40px;
      background-color: $grey;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      gap: 5px;

      width: 100%;

      .customersItem.activeSelect {
        border: 2px solid $red;

        .customersItem__select {
          justify-content: space-between;

          &_delete {
            font-size: $font-m;
            color: $red;
            text-decoration: underline;
          }
        }
      }

      .customersItem {
        box-sizing: border-box;
        background-color: $white;

        width: 100%;

        &__select {
          box-sizing: border-box;
          padding: 10px;
          display: flex;
          justify-content: flex-end;
          width: 100%;

          padding-left: $padding-left-right-table-admin;
          padding-right: $padding-left-right-table-admin;

          border-top: $border;
          border-bottom: $border;
        }

        &__photo {
          padding-top: 13px;
          padding-bottom: 26px;

          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__description {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;

          padding-top: 10px;
          padding-bottom: 10px;

          &_key,
          &_value {
            font-size: $font-m;
            padding-left: $padding-left-right-table-admin;
            padding-right: $padding-left-right-table-admin;
          }

          &_key {
            width: max-content;
            color: $grey;
            font-weight: $weight-semi-bold;
          }

          &_value {
            width: max-content;
            text-align: right;
          }

          &_line {
            position: absolute;
            bottom: 0px;

            display: block;
            height: 1px;
            width: 100%;
            background-color: $grey;
          }
        }

        &__btns {
          display: flex;
          justify-content: space-between;

          padding: 10px $padding-left-right-table-admin 10px
            $padding-left-right-table-admin;

          &_view {
            background-color: $orange;
          }

          &_delete {
            background-color: $red;
          }
          &_view,
          &_delete {
            width: 40px;
            height: 40px;
            border-radius: $border-radius-admin;

            svg {
              color: $black-icon;

              @include btn-hover(color);
            }
          }
        }
      }
    }
  }

  & .photoUser {
    &__photo {
      border-radius: 100%;
    }

    &__photo_custom {
      width: 96px;
      height: 96px;

      background-color: $red;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: $font-xxl;
      color: $white-font;
    }
  }

  // MEDIA customers
  @media (max-width: $breakpoint_lg) {
    &__search {
      width: 100%;
    }
  }
}

.searchAdmin {
  position: relative;
  width: 100%;
  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    color: $black-icon;
  }

  &__input {
    display: block;
    background-color: $grey;
    border: none;

    border-radius: $border-radius-admin;

    padding: 0px 50px;

    width: 100%;

    height: 50px;

    font-size: $font-l;
  }
}
