@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

.adminAsidePanel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;

  background-color: $red;

  height: 100vh;
  width: $width-aside-panel-admin;

  color: $black-font;
}

.adminAsideButton {
  height: 80px;
  width: 80px;
  border-radius: $border-radius-admin;

  background-color: $white;

  &__icon {
    color: $black;
  }
}

.customers {
}
