@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/base/mixins.scss';

@mixin animation-hover-btn {
  @include btn-border-and-padding;
  @include display-flex;

  @include btn-hover(background, ease-in);

  &:hover {
    background-color: $grafit;
  }
}

.header {
  position: relative;
  height: $height-header;
  width: 100%;

  @include display-flex;

  &__burger {
    &_btn {
      @include animation-hover-btn;
    }
  }

  &__logo {
    position: absolute;
    top: 6px;
    left: 60px;
  }

  &__inventory {
    padding-left: 200px;
    height: 100%;

    @include display-flex;

    gap: 25px;

    &_category,
    &_auto,
    &_sale {
      cursor: pointer;
      @include forbid-select-text;
    }

    &_category,
    &_auto {
      height: max-content;

      @include animation-hover-btn;
    }

    &_sale {
      background-color: $red;
      height: 100%;

      width: 113px;

      display: flex;
      justify-content: center;
      align-items: center;
      @include btn-hover(background, ease-in);

      &:hover {
        background-color: $red-hover;
      }

      &:active {
        background-color: $red-active;
      }

      & a {
        color: $white-font;
      }
    }
  }
}
