@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

@mixin animation-hover-btn {
  @include btn-border-and-padding;
  @include display-flex;

  @include btn-hover(background, ease-in);

  &:hover {
    background-color: $grafit;
  }
}

@mixin animation-hover-btn-unset {
  @include btn-border-and-padding;
  @include display-flex;

  &:hover {
    background-color: unset;
  }
}

.header {
  position: relative;
  height: $height-header;
  width: 100%;

  @include display-flex;

  &__burger {
    &_btn {
      @include animation-hover-btn;
    }

    flex-grow: 0;

    @media (max-width: $breakpoint_sm) {
      &_btn {
        @include animation-hover-btn-unset;

        padding-left: 0px;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 6px;
    left: 60px;

    //_____________MEDIA LOGO
    @media (max-width: $breakpoint_xl) {
      display: none;
    }
  }

  &__inventory {
    height: 100%;
    flex-grow: 0;
    &_list {
      padding-left: 200px;
      height: 100%;

      @include display-flex;

      gap: 25px;

      &_category,
      &_auto,
      &_sale {
        cursor: pointer;
        @include forbid-select-text;
      }

      &_category,
      &_auto {
        height: max-content;

        @include animation-hover-btn;
      }

      &_sale {
        background-color: $red;
        height: 100%;

        width: 113px;

        display: flex;
        justify-content: center;
        align-items: center;
        @include btn-hover(background, ease-in);

        &:hover {
          background-color: $red-hover;
        }

        &:active {
          background-color: $red-active;
        }

        & a {
          color: $white-font;
        }
      }
    }

    //_____________MEDIA INVENTORY
    @media (max-width: $breakpoint_md) {
      &_list {
        display: none;
      }
    }

    @media (max-width: $breakpoint_xl) {
      &_list {
        padding-left: 20px;
        &_sale {
          display: none;
        }
      }
    }

    @media (max-width: $breakpoint_xxl) {
      &_list {
        &_auto {
          display: none;
        }
      }
    }
  }

  & .search {
    box-sizing: border-box;
    display: flex;
    height: 50px;

    padding: 0px 50px;

    &__field {
      position: relative;
      @include display-flex;

      &_input {
        @include input-search;

        min-width: 160px;
      }

      &_icon {
        color: $black-icon;

        position: absolute;
        left: 12px;
      }

      &_microphone {
        box-sizing: border-box;
        @include display-flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        height: 80%;
        width: 48px;

        border-left: 1px solid $grey;

        background-color: white;

        &_icon {
          color: $grey;
          cursor: pointer;

          @include btn-hover(color, ease-in);

          &:hover {
            color: $grafit;
          }
        }
      }
    }

    &__button {
      @include forbid-select-text;
      @include display-flex;
      padding: 0px 13px;
      color: $white-font;
      background-color: $orange;

      width: max-content;

      border-top-right-radius: $border-radius-input;
      border-bottom-right-radius: $border-radius-input;

      cursor: pointer;

      @include btn-hover(background, ease-in);

      &:hover {
        background-color: $orange-hover;
      }

      &:active {
        background-color: $orange-active;
      }
    }

    //_____________MEDIA SEARCH
    @media (max-width: $breakpoint_md) {
      padding: 0px 20px;
    }
    @media (max-width: $breakpoint_sm) {
      padding: 0px 0px 0px 0px;
    }
  }

  & .headerIconPanel {
    display: flex;
    flex-grow: 1;
    gap: 36px;

    justify-content: flex-end;

    &__navigate {
      &_list {
        display: flex;
        gap: 36px;

        & li {
          @include animation-hover-btn;
        }

        &_auth {
          position: relative;
        }
      }
    }

    @media (max-width: $breakpoint_sm) {
      &__navigate {
        & li {
          @include animation-hover-btn-unset;
          padding-right: 0px;
        }

        &_list {
          &_cart {
            display: none !important;
          }
        }
      }
    }

    @media (max-width: $breakpoint_md) {
      &__navigate {
        &_list {
          &_favorite {
            display: none !important;
          }
        }
      }
    }

    @media (max-width: $breakpoint_xxl) {
      &__navigate {
        &_list {
          &_garage {
            display: none !important;
          }
        }
      }
    }
  }

  // ________________DROP DOWN LANG
  & .dropDownLang {
    position: relative;
    @include display-flex;
    gap: 7px;

    &__select {
      cursor: pointer;

      @include display-flex;
      gap: 5px;

      &_text {
        color: $white-font;
      }
    }

    &__popup {
      box-sizing: border-box;
      position: absolute;
      width: 190px;
      height: 110px;
      border-radius: $border-radius-drop-down;

      background-color: $white;

      top: $top-drop-down-language;
      right: $right-drop-down-language;

      display: flex;
      flex-direction: column;

      gap: 10px;

      padding: $padding-drop-down;

      z-index: 11;

      &_title {
        font-size: $font-m;
        font-weight: $weight-medium;
      }

      &_close {
        position: absolute;
        right: 9px;
        top: 9px;

        cursor: pointer;
      }

      &_arrow {
        @include arrow-background-drop-down;
      }

      & label {
        cursor: pointer;
      }
    }

    input[type='radio'] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $grafit;
      outline: none;
      cursor: pointer;
      margin-right: 8px;
    }
    input[type='radio']:checked {
      position: relative;
    }

    input[type='radio']:checked::before {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      background-color: $orange;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      transition: background-color 0.9s ease;
    }

    label {
      font-size: $font-m;
    }

    //_____________MEDIA LANG POPUP
    @media (max-width: $breakpoint_xl) {
      display: none;
    }
  }

  // ________________DROP DOWN AUTH
  & .dropDownAuth {
    padding: $padding-drop-down;

    box-sizing: border-box;
    position: absolute;
    width: max-content;
    height: max-content;
    border-radius: $border-radius-drop-down;

    background-color: $white;

    top: $top-drop-down-language;

    right: 0px;

    z-index: 10;

    &__arrow {
      @include arrow-background-drop-down;
      right: 15px;
    }

    @media (max-width: $breakpoint_md) {
      width: calc(100vw - $padding-container - $padding-container);
      right: 0;

      padding-bottom: 50px;

      &__arrow {
        display: none;
      }
    }

    @media (max-width: $breakpoint_sm) {
      width: calc(100vw - $padding-container-sm - $padding-container-sm);
    }
  }
}
