@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

//________________________ navigation product
.navProduct {
  &__list {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    &_item {
      padding: 10px 0px;

      border-top: 2px solid transparent;

      &:hover,
      &.active {
        border-color: $red !important;
      }

      &_link {
        padding: 10px 0px;
        white-space: nowrap;

        &.active,
        &:hover {
          color: $red !important;
        }
      }

      &_link.active {
        color: $red !important;
      }
    }
  }
}
