.iconWithTitleCounter {
  width: 100%;

  @include display-flex;

  gap: 16px;

  cursor: pointer;

  .iconWithTitleCounter__image,
  .iconWithTitleCounter__text {
    color: $black-font;
    @include btn-hover(color);
  }

  &:hover {
    .iconWithTitleCounter__image,
    .iconWithTitleCounter__text {
      color: $orange;
    }
  }

  &__image {
    color: $grafit;
  }
  &__text {
    flex-grow: 1;
  }

  &__counter {
    flex-grow: 0;
  }
}
