.listSocialMedia {
  &__title {
    @include title-list-info;
  }

  &__list {
    @include display-flex;
    gap: 10px;

    &_item {
      &_icon {
        color: $black-icon;

        @include btn-hover(color);

        &:hover {
          color: $orange !important;
        }
      }
    }
  }
}
