@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/fonts.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/variables/breakpoints.scss';
@import '../../../app/globalStyles/base/mixins.scss';

$padding-right-aside-panel: 10px;
$width-aside-panel: 320px;

.asidePanelMain {
  box-sizing: border-box;
  width: $width-aside-panel;
  border-right: 1px solid $grey;

  padding-top: $padding-top-page;
  padding-right: $padding-right-aside-panel;

  &__divider {
    display: block;
    margin-top: $padding-top-page;
    margin-bottom: 12px;

    height: 1px;
    width: calc(100% + $padding-right-aside-panel);
    background-color: $grey;

    &_last {
      display: block;
      padding-top: $padding-top-page;
    }
  }

  @media (max-width: $breakpoint_lg) {
    display: none;
  }
}

.listCategories {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.itemCategory {
  width: 100%;

  &__link {
    position: relative;
    @include display-flex;
    gap: 15px;

    &:hover {
      .itemCategory__link_icon svg,
      .itemCategory__link_title,
      .itemCategory__link_arrow {
        color: $orange;
        font-weight: $weight-medium;
      }
    }

    &_icon {
      & svg {
        @include btn-hover(color);
        color: $grey;
      }
    }

    &_title {
      @include btn-hover(color);
      font-size: $font-m;
      color: $black-font;
    }

    &_arrow {
      @include btn-hover(color);
      position: absolute;
      color: $black-icon;

      right: 0;
    }
  }
}

.authUser {
  &__list {
    padding-top: 20px;
    padding-left: calc($size-photo-user-card + $margin-right-user-card);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item,
    &_item a {
      font-size: $font-m;
      color: $black-font;

      width: max-content;

      &:hover {
        color: $orange;
      }
    }
  }
}

.userInterestPanel {
  width: calc(100% - $width-aside-panel);
  padding-top: $padding-top-page;
  padding-bottom: $padding-bottom-page;
  padding-left: $padding-left-page;

  @media (max-width: $breakpoint_lg) {
    padding-left: 0px;
    width: 100%;
  }
}

.cartNotificationBar {
  @include display-flex;

  max-width: 100%;

  padding: 7px 15px;

  border: 1px solid $grey;
  border-radius: 10px;

  &__icon {
    svg {
      color: $green;
    }
  }

  &__total {
    margin-left: 15px;
    max-width: 160px;

    min-width: 150px;

    & p {
      font-size: $font-m;
      color: $black-font;
    }

    & b {
      font-weight: $weight-bold;
    }
  }

  &__items {
    margin-left: 25px;

    @include text-gradient-end;
    @include display-flex;
    gap: 10px;

    max-width: 100%;

    overflow-x: hidden;

    &_item {
      max-width: 100%;
      @include display-flex;
      gap: 10px;

      &_description {
        white-space: nowrap;

        text-overflow: ellipsis;
        vertical-align: baseline;
      }
    }
  }

  &__btns {
    max-width: 100%;
    flex-grow: 1;
    justify-content: flex-end;

    margin-left: 20px;
    @include display-flex;

    &_toCart,
    &_toOrder {
      white-space: nowrap;
      padding: 0px 10px;
    }

    &_toCart {
      padding-right: 20px;
    }
  }

  @media (max-width: $breakpoint_xxl) {
    &__btns {
      &_toCart {
        display: none;
      }
    }
  }

  @media (max-width: $breakpoint_sm) {
    &__icon {
      display: none;
    }
    &__total {
      margin-left: 0px;
    }
    &__items {
      display: none;
    }
  }
}

.recentlyViewedProducts {
  width: 100%;

  margin-top: 30px;

  &__title {
    @include title-list-item;
  }
}
