@import '../../../app/globalStyles/variables/colors.scss';
@import '../../../app/globalStyles/variables/blocks.scss';
@import '../../../app/globalStyles/base/mixins.scss';
@import '../../../app/globalStyles/variables/fonts.scss';

$width-column: 267px;

.authorization {
  min-width: 600px;
  & .signUp,
  .signIn,
  .remindPassword {
    &__head {
      @include display-flex;

      justify-content: space-between;

      border-bottom: 1px solid $grey;
      padding-bottom: 10px;

      &_title {
        font-size: $font-m;
      }

      &_close {
        @include display-flex;
      }
    }

    &__main {
      position: relative;
      margin-top: 10px;

      display: flex;
      justify-content: space-between;
      &_left,
      &_right {
        max-width: $width-column;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &_left {
        &_link {
          color: $orange;
          &:hover {
            text-decoration: underline;
          }
        }

        & .firstName,
        .lastName,
        .phone,
        .email,
        .password {
          display: flex;
          flex-direction: column;

          &__label {
            font-size: $font-m;
            padding-bottom: 10px;
          }

          &__input {
            @include input;
          }

          & .password {
            &__input {
              padding: 0;
              display: flex;
              justify-content: space-between;

              align-items: flex-start;
              &_field {
                @include input;
                width: 229px;
              }
              &_button {
                &_visible {
                  margin-top: 11px;
                  &:hover {
                    color: $orange;
                  }
                }

                &_hide {
                  margin-top: 7px;
                }
              }
            }
          }

          &__error {
            padding-top: 5px;
            font-size: $font-s;
            color: $red;
          }
        }

        &_reminder_btn {
          display: flex;
          justify-content: flex-end;

          & button {
            font-size: $font-s;
            width: max-content;
            color: $black-font;

            @include btn-hover(color);
            &:hover {
              color: $orange;
            }
          }
        }

        // &_error {
        //   padding: 20px 10px;
        //   background-color: $red-opacity-20;
        //   border: 1px solid $red-active;

        //   border-radius: 3px;

        //   & p {
        //     color: $red-active;
        //   }
        // }
      }

      &_middle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        height: 100%;

        &_line {
          width: 1px;
          height: 100%;
          background-color: $grey;
        }

        &_text {
          font-size: $font-m;
          color: $black-font;
        }
      }
      &_right {
        &_title {
          font-size: $font-m;
          color: $black-font;
          text-align: center;
        }

        & .buttonSocialFusion {
          width: 100%;

          height: $height-input;

          padding: $padding-input;
          border-radius: $border-radius-input;
          border: 1px solid $grey;
          border-color: $grey;

          @include display-flex;
          justify-content: center;
          gap: 10px;

          @include btn-hover(background, ease-in);

          &:hover {
            background-color: $grey;
          }
        }
      }
    }
  }
}
