.logotypeSmall {
  display: flex;

  @include forbid-select-text;

  p {
    font-size: $font-xl;
    font-weight: $weight-bold;

    color: $white-font;

    &::first-letter {
      color: orange;
    }
  }
}

.logotypeSmall.dark {
  p {
    color: $black-font;
  }
}

.logotypeSmall.red {
  p {
    &::first-letter {
      color: $red;
    }
  }
}
